{% extends "_layouts/elementindex" %}
{% set title = "Site redirects"|t('redirect') %}
{% set elementType = 'dolphiq\\redirect\\elements\\Redirect' %}

{% set docsUrl = 'https://github.com/Dolphiq/craft3-plugin-redirect' %}


{% block actionButton %}
        <a href="{{ url( pathPrefix ~ 'redirect/new') }}" class="submit btn add icon">{{ "New redirect"|t('redirect') }}</a>
{% endblock %}
