{% extends "_layouts/elementindex" %}
{% set title = "Site redirects"|t('redirect') %}
{% set elementType = 'dolphiq\\redirect\\elements\\Redirect' %}

{% set docsUrl = 'https://github.com/Dolphiq/craft3-plugin-redirect' %}


    {% set extraPageHeaderHtml %}
        <div class="buttons right">
          <a href="{{ url( pathPrefix ~ 'redirect/new') }}" class="btn submit add icon">{{ "New redirect"|t('redirect') }}</a>
        </div>
    {% endset %}


