Hello
{% extends "_layouts/cp" %}
{% set title = "Redirect settings"|t('vredirect') %}

{% set fullPageForm = false %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Redirects"|t('vredirect'), url: url('settings/vredirect') }
] %}

{% block sidebar %}
    {% set selectedNavItem = "settings" %}
    {% include "vredirect/nav" %}
{% endblock %}


<h1>Redirects plugin Dashboard</h1>
