{% extends "_layouts/elementindex" %}
{% set title = "Redirect entries"|t('redirect') %}
{% set elementType = 'dolphiq\\redirect\\elements\\Redirect' %}

{% set docsUrl = 'https://github.com/Dolphiq/craft3-plugin-redirect' %}

{% block actionButton %}
    <a href="{{ url( pathPrefix ~ 'redirect/new') }}" class="submit btn add icon">{{ "New redirect"|t('redirect') }}</a>
{% endblock %}

{% block sidebar %}
    <nav>
        {% for itemId, item in navItems %}
            {% if item %}
                {% set itemIsSelected = false %}
                <li style="list-style-type: none;"><a{% if itemIsSelected %} class="sel"{% endif %}
                            href="{{ item.url }}">{{ item.label }}</a></li>
            {% endif %}
        {% endfor %}
    </nav>

    <nav>
        {% if sources is not empty %}
            {% include "_elements/sources" %}
        {% endif %}
    </nav>

{% endblock %}

