{% import "_includes/forms" as forms %}
{% set meta = meta is defined ? meta : false %}

{{ forms.selectField({
    label: "Match Type"|t('vredirect'),
    instructions: "Redirect Type"|t('vredirect'),
    id: 'type',
    name: 'type',
    options: typeOptions,
    value: redirect.type,
    toggle: true,
    targetPrefix: '.type-',
    errors: redirect.getErrors('type')
}) }}


{{ forms.textField({
    label: "Source URL"|t('vredirect'),
    instructions: "The URL to be redirected"|t('vredirect'),
    id: 'source-url',
    class: 'ltr',
    name: 'sourceUrl',
    value: redirect.sourceUrl,
    errors: redirect.getErrors('sourceUrl'),
    autofocus: true,
    required: true
}) }}

{{ forms.textField({
    label: "Destination URL"|t('vredirect'),
    instructions: "The final URL"|t('vredirect'),
    id: 'destination-url',
    class: 'ltr',
    name: 'destinationUrl',
    value: redirect.destinationUrl,
    errors: redirect.getErrors('destinationUrl'),
    required: true
}) }}
{{ forms.selectField({
    label: "Redirect type"|t('vredirect'),
    instructions: "Redirect status code"|t('vredirect'),
    id: 'status-code',
    name: 'statusCode',
    options: statusCodeOptions,
    value: redirect.statusCode,
    toggle: true,
    targetPrefix: '.statusCode-',
    errors: redirect.getErrors('statusCode')
}) }}
