{% extends 'vredirect/_layouts/cp' %}
{% set selectedSubnavItem = 'catch-all' %}
{% set title = "Registered 404 entries"|t('vredirect') %}

{% do view.registerAssetBundle("venveo\\redirect\\assetbundles\\registered404s\\Registered404sAsset") %}

{% set content %}
    <div id="app"></div>
{% endset %}
